<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/static/style.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Notes</title>
</head>
<body>
    <h1>Available Notes</h1>
    {% if notes %}
        <ul>
            {% for note in notes %}
                <li>
                    <a href="/api/download/{{ note.filename }}">{{ note.filename }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No notes available.</p>
    {% endif %}
    <footer>
        <p>©2025 SA Studio. All Rights Reserved</p>
    </footer>
</body>
</html>
